@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::before,
	*::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	:root {
		scroll-behavior: smooth;
	}

	html,
	body,
	#app {
		height: 100%;
	}

	body {
		font-family: 'Arial', sans-serif;
		font-weight: 400;
		font-style: normal;

		@apply text-content;
	}

	/* width */
	::-webkit-scrollbar {
		width: 0.6rem;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply rounded-md bg-slate-200;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply rounded-md;
		@apply bg-tertiary;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-tertiary-dark;
	}
}
